@import '../../../styles/_colors';

#play {
  background-color: $play-background;
  border: 5px solid $play-button-background;

  .quadrant-button {
    background-color: $play-button-background;
  }
}