@import './_colors';

#app {
  background-color: #fffff0;
  color: $quadrant-font;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .padding {
    padding: 1em;
  }

  .centered {
    width: 100%;
    text-align: center;
  }

  .page-header {
    width: 100%;
    padding: 1em;
    margin-bottom: 30px;
  }

  .quad {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 40%;
    margin: 0px 15px 30px 15px;

    .quadrant-title-container {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 10% 0 10%;
      font-size: 200%;
    }

    .quadrant-button-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      .quadrant-button {
        color: $button-font;
      }
    }
  }
}